body{
background-color: lightseagreen;

}
h1{text-align: center;}
label{width: 7em;
    padding: 1em;
    display: inline-block;
text-align: 
left;}
input[type="text"]{width: 7em;
    height:1.7em;
; }
.shoeColor:hover{background-color: cadetblue;}
.shoeSize:hover{background-color: cadetblue;}
.shoeBrand:hover{background-color: cadetblue;}
.btnSearch{background-color: 
    lavender;}
    .btnSearch:active{background-color: lavenderblush;}
    .btnSearch:hover{
        background-color: lightblue;
    }
    .btnSearch{
        width: 6em;
        border-radius: 0.6em;
        background-color: dodgerblue;
    }
    select{
height: 1.7;
        width: 7em;

background-color: darkkhaki;
    }
