body{
background-color: magenta;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.btnAdd{
background-color: lightslategrey;
width: 6em;

}
.ri{padding-right: 20e;}
h1{text-align: center;}
label{width: 7em;
    padding: 0.3em;
    display: inline-block;
text-align: 
left;}
.padd{padding-bottom: 1.6em;}
input[type="text"]{width: 7em;
    height:1.7em;
; }
.shoeColor:hover{background-color: whitesmoke;}
.shoeSize:hover{background-color: whitesmoke;}
.shoeBrand:hover{background-color: whitesmoke;}
.btnAdd:hover{
    background-color: tomato;
}
.btnSearch{background-color: 
    lavender;}
    .btnSearch:active{background-color: lavenderblush;}
    .btnSearch:hover{
        background-color: lightblue;
    }
   
    .btnSearch{
        width: 6em;
        border-radius: 0.6em;
        background-color: dodgerblue;
    }
    select{
height: 1.7;
        width: 7em;

background-color: violet;
    }
